<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="boomer.groggypirate.com"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10"/>
    <uses-permission android:name="android.permission.INTERNET"/>
	
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true">

        <activity
            android:theme="@android:style/Theme.NoTitleBar"
            android:name=".MovieListActivity"

            android:label="@string/app_name" android:configChanges="keyboard|keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@android:style/Theme.NoTitleBar"
            android:name=".MovieDetailActivity"
            android:label="@string/app_name" android:configChanges="keyboard|keyboardHidden|orientation">
    </activity>

        <activity
                android:theme="@android:style/Theme.NoTitleBar"
                android:name=".MoviePlayerActivity"
                android:label="@string/app_name" android:configChanges="keyboard|keyboardHidden|orientation">
        </activity>

        <activity
                android:name=".XBMCSettingsActivity"
                android:label="@string/app_name" android:configChanges="keyboard|keyboardHidden|orientation">
        </activity>

        <activity
                android:name=".XBMCSettingsActivityHC"
                android:label="@string/app_name" android:configChanges="keyboard|keyboardHidden|orientation">
        </activity>
    </application>

</manifest>